@page "/vender-produto"
@using RO.DevTest.FronEnd.Application.Features.Sales.CreateSaleCommand
@implements IDisposable
@inject IMediator Mediator
@inject NavigationManager NavManager
@attribute [Authorize(Roles = "Admin")]


<h3>Insira os dados de venda do produto:</h3>

@if (_editContext is not null)
{
    <EditForm EditContext="_editContext" OnValidSubmit="EnviarVenda">
        <AntiforgeryToken />
        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Observação:</label>
            <div class="col-md-6">
                <input type="text" class="form-control desabled" value="NomeProduto" disabled />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Descrição</label>
            <div class="col-md-6">
                <InputTextArea @bind-Value="request!.Observation" class="form-control" />
                <ValidationMessage For="() => request.Observation" />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Quantidade:</label>
            <div class="col-md-6">
                <InputNumber TValue="int" @bind-Value="quantidade" class="form-control" />
                <ValidationMessage For="()=> quantidade" />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Valor</label>
            <div class="col-md-6">
                <InputNumber TValue="decimal" @bind-Value="request.Price" class="form-control" />
                <ValidationMessage For="() => request.Price" />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Desconto:</label>
            <div class="col-md-6">
                <InputNumber TValue="decimal" @bind-Value="request.Descount" class="form-control"/>
                <ValidationMessage For="() => request.Descount" />
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center align-content-center">
            <button type="submit" class="btn btn-sm btn-primary">Salvar Venda</button>
        </div>
    </EditForm>
}
@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "id")]
    public Guid Id { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "nome-produto")]
    public string NomeProduto { get; set; } = string.Empty;

    [Parameter]
    [SupplyParameterFromQuery(Name = "stock")]
    public int StockQuantity { get; set; }

    private EditContext? _editContext;
    private ValidationMessageStore? messageStore;
    private CreateSaleRequest? request;
    private int quantidade;


    protected override void OnInitialized()
    {
        request = new();
        _editContext = new(request);
        _editContext.OnValidationRequested += HandleValidation;
        messageStore = new(_editContext);
        base.OnInitialized();
    }

    public async Task EnviarVenda()
    {
        if (request is null)
            return;

        request.Itens.Add(new ProductsSale() { Id = Id, Quantity = quantidade });
        var resultado = await Mediator.Send(request);


        NavManager.NavigateTo($"vendas-detalhes?id={resultado.Id}");


    }

    public void Dispose()
    {
        if(_editContext is not null)
            _editContext.OnValidationRequested -= HandleValidation;
    }

    private void HandleValidation(object? sender, ValidationRequestedEventArgs args)
    {
        messageStore?.Clear();
        if (quantidade > StockQuantity)
            messageStore?.Add(() => quantidade, "Quantidade indisponível em estoque. Selecione um valor menor.");

        if (request?.Price <= 0.0M)
            messageStore?.Add(() => request.Price, "Valor inválido calculado. Tente remover e adicionar um item novamente.");

        if (request?.Descount < 0.0M)
            messageStore?.Add(() => request.Descount, "Valor de desconto não pode ser menor que zero.");
    }
}
