@page "/vender-produto"

@attribute [Authorize(Roles = "Admin")]

@if (_cadastrandoVenda)
{
    <Carregando Tipo="Carregando.ECarregandoTipo.Primary" EstaCarregando="_cadastrandoVenda" />
}else if (_erroCadastarVenda)
{
    <Alerta Tipo="Alerta.TipoAlerta.Erro" Mensagem="@_messageErroCadastrarVenda" />
}

@if (_editContext is not null)
{
    <h4 class="fs-4 text-center my-4">Insira os dados da venda:</h4>

    <EditForm EditContext="_editContext" OnValidSubmit="EnviarVenda">
        <AntiforgeryToken />
        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Nome do Produto:</label>
            <div class="col-md-6">
                <input type="text" class="form-control desabled" value="@NomeProduto" disabled />
            </div>
        </div>
        
        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Nome da Venda:</label>
            <div class="col-md-6">
                <InputTextArea @bind-Value="_request!.Name" class="form-control" />
                <ValidationMessage For="() => _request.Name" />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Descrição</label>
            <div class="col-md-6">
                <InputTextArea @bind-Value="_request!.Observation" class="form-control" />
                <ValidationMessage For="() => _request.Observation" />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Quantidade:</label>
            <div class="col-md-6">
                <InputNumber TValue="int" @bind-Value="_quantidade" class="form-control" />
                <ValidationMessage For="()=> _quantidade" />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Valor</label>
            <div class="col-md-6">
                <InputNumber TValue="decimal" @bind-Value="_request.Price" class="form-control" />
                <ValidationMessage For="() => _request.Price" />
            </div>
        </div>

        <div class="form-group row my-2">
            <label class="form-label col-md-3 my-auto text-end">Desconto:</label>
            <div class="col-md-6">
                <InputNumber TValue="decimal" @bind-Value="_request.Descount" class="form-control"/>
                <ValidationMessage For="() => _request.Descount" />
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center align-content-center">
            <button type="submit" class="btn btn-sm btn-primary"><i class="bi bi-floppy me-2"></i>Salvar Venda</button>
        </div>
    </EditForm>
}