@using FE.Application.Features.Sales.GetSalesCommand
<div class="card col-sm-2 col-md-3 m-2">
    <div class="card-header d-flex justify-content-between">
        <span class="card-text my-auto">@Venda?.Name</span>
        @if (OnInfoVenda is not null)
        {
            <i class="bi bi-info-circle" style="font-size: 1.7rem;  cursor: pointer;" @onclick="InfoVenda"></i>
        }
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 70%">Preço</th>
                    <th scope="col" style="width: 30%">Desconto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Venda?.Price.ToString("C")</td>
                    <td>@Venda?.Descount.ToString("C")</td>
                </tr>
            </tbody>
        </table>
    </div>
    <AuthorizeView Roles="Admin">
        <div class="card-footer">
            <div class="d-flex flex-row justify-content-between align-content-center">
                <button type="button" class="btn btn-primary btn-sm" @onclick="EditarVenda"><i class="bi bi-pencil me-2"></i>Editar</button>
                <button type="button" class="btn btn-secondary btn-sm" @onclick="RemoverVenda"><i class="bi bi-trash me-2"></i>Remover</button>
            </div>
        </div>
    </AuthorizeView>
</div>





@code {
    [Parameter, EditorRequired] public SaleItem? Venda { get; set; }

    [Parameter, EditorRequired] public EventCallback<SaleItem?> OnEditarVenda { get; set; }

    [Parameter, EditorRequired] public EventCallback<SaleItem?> OnRemoverVenda { get; set; }

    [Parameter] public Action<SaleItem?>? OnInfoVenda { get; set; }

    private void InfoVenda() => OnInfoVenda?.Invoke(Venda);
    private async Task EditarVenda() => await OnEditarVenda.InvokeAsync(Venda);
    private async Task RemoverVenda() => await OnRemoverVenda.InvokeAsync(Venda);
}