@page "/vendas"

@if (_carregando)
{
    <Carregando Tipo="Carregando.ECarregandoTipo.Primary" EstaCarregando="_carregando" />
}
else if (_erroAoCarregarItens)
{
    <Alerta Tipo="Alerta.TipoAlerta.Erro" Mensagem="Não foi possível carregar os itens. Tente novamente."></Alerta>
    <BotaoTentarNovamente TentarNovamente="@(async () => await CarregarVendas())" />
}
else
{
    @if (_removendoItem)
    {
        <Carregando Tipo="Carregando.ECarregandoTipo.Secondary" EstaCarregando="_removendoItem" />
    }
    else if (_erroAoRemoverItem)
    {
        <Alerta Tipo="Alerta.TipoAlerta.Erro" Mensagem="Não foi possível remover o item."/>
    }
    
    @if(_vendasRealizadas is null || _vendasRealizadas.Sales.Count == 0)
    {
        <h3 class="fs-3 text-center">Nenhum venda foi encontrada!</h3>
    }
    else
    {
        <div class="d-flex justify-content-between">
            <h3 class="flex-grow-1 fs-3 text-center">Vendas já realizadas encontradas</h3>
            <div class="flex-shrink-1">
                <select @bind-value="_tamanhoPagina" @bind-value:event="oninput" class="form-select" @onchange="CarregarVendas">
                    <option value="12">12</option>
                    <option value="24">24</option>
                    <option value="32">32</option>
                    <option value="64">64</option>
                </select>
            </div>
        </div>


        <Paginacao
            ItensPorPagina="_tamanhoPagina"
            PaginaAtual="_paginaAtual"
            TotalDeItens="_totalDeItens"
            ProximaPagina="CarregarProximaPaginaVendas"
            PaginaAnterior="CarregarPaginaAnteriorVendas">
            <PageContent>
                <div class="d-flex justify-content-center flex-wrap">
                    @foreach(var venda in _vendasRealizadas.Sales)
                    {
                        <VendaComponent Venda="venda" OnEditarVenda="EditarVenda" OnRemoverVenda="RemoverVenda" OnInfoVenda="InformacoesVenda" />
                    }
                </div>
            </PageContent>
        </Paginacao>

    }
}