@page "/login"
@layout LoginLayout

@if (_editContext is not null)
{
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            @if (_carregando)
                            {
                                <Carregando EstaCarregando="_carregando" Tipo="Carregando.ECarregandoTipo.Primary" />
                            }
                            else
                            {
                                @if (_falhaLogin)
                                {
                                    <div class="m-4">
                                        <Alerta Tipo="Alerta.TipoAlerta.Erro" Mensagem="Servidor inacessivel ou login e senha inválidos. Verifique e tente novamente." />
                                    </div>
                                }
                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                    <p class="text-white-50 mb-5">Por favor, insira seu email e senha para realizar o login.</p>
                                    <EditForm EditContext="_editContext" OnValidSubmit="RealizaLogin">
                                        <div data-mdb-input-init class="form-outline form-white mb-4">
                                            <label class="form-label" for="typeEmail">Email</label>
                                            <InputText type="email" id="typeEmail" class="form-control form-control-lg" @bind-Value="_login.Email"/>
                                            <ValidationMessage For="() => _login.Email"/>
                                        </div>

                                        <div data-mdb-input-init class="form-outline form-white mb-4">
                                            <label class="form-label" for="typePassword">Senha</label>
                                            <InputText type="password" id="typePassword" class="form-control form-control-ls" @bind-Value="_login.Senha"/>
                                            <ValidationMessage For="() => _login.Senha"/>
                                        </div>

                                        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="submit">Entrar</button>
                                    </EditForm>
                                </div>
                                <div class="m-4">
                                    <p class="small mb-5 pb-lg-2"><NavLink class="text-white-50" href="/esqueceu-senha">Esqueceu a Senha?</NavLink></p>
                                </div>
                                <div>
                                    <p class="mb-0 mt-4">
                                        Não tem uma conta ainda? <NavLink href="/nova-conta" class="text-white-50 fw-bold">Criar conta.</NavLink>
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}