@page "/novo-produto"

@attribute [Authorize(Roles = "Admin")]

@if (_salvandoProduto)
{
    <Carregando Tipo="Carregando.ECarregandoTipo.Primary" EstaCarregando="_salvandoProduto" />
}
else if (_erroAoSalvarProduto)
{
    <Alerta Tipo="Alerta.TipoAlerta.Erro" Mensagem="Não foi possivel salvar o produto. Tente novamente." />
}

<h3 class="fs-3 text-center">Novo Produto</h3>

<EditForm EditContext="_editContext" OnValidSubmit="EnviarDadosFormularioValido">
    <AntiforgeryToken />
    <div class="form-group row my-2">
        <label class="form-label col-md-3 my-auto text-end">Nome:</label>
        <div class="col-md-6">
            <InputText @bind-Value="_request!.Name" class="form-control" />
            <ValidationMessage For="() => _request.Name" />
        </div>
    </div>

    <div class="form-group row my-2">
        <label class="from-label col-md-3 my-auto text-end">Descrição</label>
        <div class="col-md-6">
            <InputTextArea @bind-Value="_request.Description" class="form-control" />
            <ValidationMessage For="() => _request.Description" />
        </div>
    </div>

    <div class="form-group row my-2">
        <label class="form-label col-md-3 my-auto text-end">Valor</label>
        <div class="col-md-6">
            <InputNumber TValue="decimal" @bind-Value="_request.Price" class="form-control"  />
            <ValidationMessage For="() => _request.Price" />
        </div>
    </div>

    <div class="form-group row my-2">
        <label class="form-label col-md-3 my-auto text-end">URL imagem produto:</label>
        <div class="col-md-6">
            <InputText @bind-Value="_request.ImageUrl" class="form-control" />
            <ValidationMessage For="() => _request.ImageUrl" />
        </div>
    </div>

    <div class="form-group row my-2">
        <label class="form-label col-md-3 my-auto text-end">Categoria:</label>
        <div class="col-md-6">
            <InputText @bind-Value="_request.Category" class="form-control" />
            <ValidationMessage For="() => _request.Category" />
        </div>
    </div>

    <div class="form-group row my-2">
        <label class="form-label col-md-3 my-auto text-end my-auto">Marca:</label>
        <div class="col-md-6">
            <InputText @bind-Value="_request.Brand" class="form-control" />
            <ValidationMessage For="() => _request.Brand" />
        </div>
    </div>

    <div class="form-group row my-2">
        <label class="form-label col-md-3 my-auto text-end">Quantidade:</label>
        <div class="col-md-6">
            <InputNumber TValue="Int32" @bind-Value="_request.Stock" class="form-control" />
            <ValidationMessage For="() => _request.Stock" />
        </div>
    </div>

    <div class="form-group row my-2">
        <label class="form-label col-md-3 my-auto text-end">Está Ativo:</label>
        <div class="form-check col-md-2 ms-3">
            <InputCheckbox @bind-Value="_request.IsActive" class="form-check-input" />
            <ValidationMessage For="() => _request.IsActive" />
        </div>
    </div>

    <div class="form-group row my-2">
        <label class="form-label col-md-3 my-auto text-end">Criado por:</label>
        <div class="col-md-6">
            <InputText @bind-Value="_request.CreatedBy" class="form-control" />
            <ValidationMessage For="() => _request.CreatedBy" />
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center align-content-center">
        <button type="submit" class="btn btn-sm btn-primary"><i class="bi bi-floppy"></i>Salvar</button>
    </div>
</EditForm>

<Modal />