@page "/editar-produto"
@attribute [Authorize(Roles = "Admin")]

@if (_carregando)
{
    <Carregando Tipo="Carregando.ECarregandoTipo.Primary" EstaCarregando="_carregando" />
}
else
{
    @if (_ocorreuErro)
    {
        <Alerta Tipo="Alerta.TipoAlerta.Erro" Mensagem="@_mensagemErro" />
    }
    
    @if (_editContext is not null)
    {
        <h4 class="fs-4 text-center my-4">Editando o produto: @_updateProduct?.Name</h4>

        <EditForm EditContext="_editContext" OnValidSubmit="AtualizarDadosFormulario">
            <AntiforgeryToken/>
            <div class="form-group row my-2">
                <label class="form-label col-md-3 my-auto text-end">Nome:</label>
                <div class="col-md-6">
                    <InputText @bind-Value="_updateProduct!.Name" class="form-control"/>
                    <ValidationMessage For="() => _updateProduct.Name"/>
                </div>
            </div>

            <div class="form-group row my-2">
                <label class="from-label col-md-3 my-auto text-end">Descrição</label>
                <div class="col-md-6">
                    <InputTextArea @bind-Value="_updateProduct.Description" class="form-control"/>
                    <ValidationMessage For="() => _updateProduct.Description"/>
                </div>
            </div>

            <div class="form-group row my-2">
                <label class="form-label col-md-3 my-auto text-end">Valor</label>
                <div class="col-md-6">
                    <InputNumber TValue="decimal" @bind-Value="_updateProduct.Price" class="form-control"/>
                    <ValidationMessage For="() => _updateProduct.Price"/>
                </div>
            </div>

            <div class="form-group row my-2">
                <label class="form-label col-md-3 my-auto text-end">URL imagem produto:</label>
                <div class="col-md-6">
                    <InputText @bind-Value="_updateProduct.ImageUrl" class="form-control"/>
                    <ValidationMessage For="() => _updateProduct.ImageUrl"/>
                </div>
            </div>

            <div class="form-group row my-2">
                <label class="form-label col-md-3 my-auto text-end">Categoria:</label>
                <div class="col-md-6">
                    <InputText @bind-Value="_updateProduct.Category" class="form-control"/>
                    <ValidationMessage For="() => _updateProduct.Category"/>
                </div>
            </div>

            <div class="form-group row my-2">
                <label class="form-label col-md-3 my-auto text-end my-auto">Marca:</label>
                <div class="col-md-6">
                    <InputText @bind-Value="_updateProduct.Brand" class="form-control"/>
                    <ValidationMessage For="() => _updateProduct.Brand"/>
                </div>
            </div>

            <div class="form-group row my-2">
                <label class="form-label col-md-3 my-auto text-end">Quantidade:</label>
                <div class="col-md-6">
                    <InputNumber TValue="Int32" @bind-Value="_updateProduct.Stock" class="form-control"/>
                    <ValidationMessage For="() => _updateProduct.Stock"/>
                </div>
            </div>

            <div class="form-group row my-2">
                <label class="form-label col-md-3 my-auto text-end">Está Ativo:</label>
                <div class="form-check col-md-2 ms-3">
                    <InputCheckbox @bind-Value="_updateProduct.IsActive" class="form-check-input"/>
                    <ValidationMessage For="() => _updateProduct.IsActive"/>
                </div>
            </div>

            <div class="form-group row my-2">
                <label class="form-label col-md-3 my-auto text-end">Criado por:</label>
                <div class="col-md-6">
                    <input type="text" class="form-control desabled" value="@_updateProduct.CreatedBy" disabled/>
                </div>
            </div>

            <div class="form-group row my-2">
                <label class="form-label col-md-3 my-auto text-end">Modificado por:</label>
                <div class="col-md-6">
                    <InputText @bind-Value="_updateProduct.ModifiedBy" class="form-control"/>
                    <ValidationMessage For="() => _updateProduct.ModifiedBy"/>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-center align-content-center">
                <button type="submit" class="btn btn-sm btn-primary"><i class="bi bi-floppy me-2"></i>Salvar Alterações </button>
            </div>
        </EditForm>
    }
}
<Modal />