@page "/produtos"

@if (_carregando)
{
    <Carregando Tipo="Carregando.ECarregandoTipo.Primary" EstaCarregando="_carregando" />
}
else
{
    @if (_exibeMensagemErro)
    {
        <Alerta Mensagem="Não foi possível recuperar os dados." Tipo="Alerta.TipoAlerta.Erro"/>
        <BotaoTentarNovamente TentarNovamente="@(async () => await CarregarProdutos())" />
    }
    else
    {
        @if (!_products?.Any() ?? false)
        {
            <h4 class="fs-4 text-center">Nenhum produto encontrado!</h4>
        }
        else
        {
            <h3 class="fs-3 text-center">Produtos encontrados</h3>

            <div class="d-flex align-content-start flex-wrap">
                @foreach (var product in _products ?? [])
                {
                    <ProdutoComponent Product="@product" OnSelected="EditarProduto" OnVendaSelected="VenderProduto"/>
                }
            </div>
        }

        <AuthorizeView Roles="Admin">
            <div class="d-flex justify-content-end align-content-center">
                <button type="button" @onclick="NavegaPaginaNovoProduto" class="btn btn-outline-primary btn-sm m-2">
                    <i class="bi bi-plus-circle"></i> Novo Produto
                </button>
            </div>
        </AuthorizeView>
    }
}