@page "/produtos"

@if (_carregando)
{
    <Carregando Tipo="Carregando.ECarregandoTipo.Primary" EstaCarregando="_carregando" />
}
else
{
    @if (_exibeMensagemErro)
    {
        <Alerta Mensagem="Não foi possível recuperar os dados." Tipo="Alerta.TipoAlerta.Erro" />
        <BotaoTentarNovamente TentarNovamente="@(async () => await CarregarProdutos())" />
    }
    else
    {
        @if (!_products?.Any() ?? false)
        {
            <h4 class="fs-4 text-center">Nenhum produto encontrado!</h4>
        }
        else
        {
            <div class="d-flex justify-content-between">

                <h3 class="flex-grow-1 fs-3 text-center">Produtos encontrados</h3>
                <div class="flex-shrink-1">
                    <select @bind-value="_size" @bind-value:event="oninput" class="form-select" @onchange="CarregarProdutos">
                        <option value="12">12</option>
                        <option value="24">24</option>
                        <option value="32">32</option>
                        <option value="64">64</option>
                    </select>
                </div>
            </div>

            <Paginacao ItensPorPagina="_size"
                       PaginaAtual="_page"
                       TotalDeItens="_totalProdutos"
                       ProximaPagina="CarregarProximaPaginaProdutos"
                       PaginaAnterior="CarregarPaginaAnteriorProdutos">
                <PageContent>
                    <div class="d-flex justify-content-center flex-wrap">
                        @foreach (var product in _products ?? [])
                        {
                            <ProdutoComponent Product="@product" OnSelected="EditarProduto" OnAdicionaCarrinhoCompra="AdicionarCarrinhoCompra" OnInfoSelected="MostraInformacoesProduto" />
                        }
                    </div>
                </PageContent>
            </Paginacao>

        }
    }
}