@using FE.ViewModels.Features.Product

<div class="card col-sm-2 col-md-3 m-2">
    <div class="card-header d-flex justify-content-between">
        <span class="card-text my-auto">@Product?.Name</span>
        @if (OnInfoSelected is not null)
        {
            <i class="bi bi-info-circle" style="font-size: 1.7rem;  cursor: pointer;" @onclick="@(() => OnInfoSelected?.Invoke(Product))"></i>
        }
    </div>
    <div class="card-body">
        <table class="table" style="width: 90% !important;">
            <thead>
                <tr>
                    <th style="width: 80%;">Descrição</th>
                    <th style="width: 20%;">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="limit-tables-lines">
                        @Product?.Description
                    </td>
                    <td class="text-end">
                        @Product?.Price.ToString("C")
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <AuthorizeView Roles="Admin">
        <div class="card-footer">
            <div class="d-flex flex-row justify-content-between">
                <button type="button" class="btn btn-primary btn-sm" @onclick=@(() => OnSelected?.Invoke(Product))><i class="bi bi-pen me-2"></i>Editar</button>
                @if (Product?.Stock > 0 && (Product?.IsActive ?? false))
                {
                    <button type="button" class="btn btn-secondary btn-sm" @onclick="@(() => OnAdicionaCarrinhoCompra?.Invoke(Product))"><i class="bi bi-cart-plus me-2"></i>Adicionar Carrinho</button>
                }
            </div>
        </div>
    </AuthorizeView>
</div>




@code {
    [Parameter] public ProductSimpleViewModel? Product { get; set; }
    [Parameter] public Action<ProductSimpleViewModel?>? OnSelected { get; set; }
    [Parameter] public Action<ProductSimpleViewModel?>? OnAdicionaCarrinhoCompra { get; set; }
    [Parameter] public Action<ProductSimpleViewModel?>? OnInfoSelected { get; set; }
}
