@using System.Security.Claims
@inherits LayoutComponentBase
@implements  IDisposable
@inject NavigationManager NavManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row p-0 m-0 d-flex align-content-center justify-content-between" style="background: #07173D;">
            <AuthorizeView>
                <span class="my-auto text-white fs-4">@_user?.Identity?.Name</span>
            </AuthorizeView>
            <span class="mx-auto my-auto text-white fs-6">@_currentTime</span>
            <AuthorizeView Roles="Admin">
                <div class="my-auto me-5">
                    <BotaoCarrinhoCompra />
                </div>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    [CascadingParameter] protected Task<AuthenticationState>? AuthStat { get; set; }
    private ClaimsPrincipal? _user;

    private Timer? _timer;
    private DateTime _currentTime = DateTime.Now;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (AuthStat is not null)
        {
            _user = (await AuthStat).User;
            if(_user.Identity is { IsAuthenticated: false })
            {
                Console.WriteLine("Usuário não está autenticado. Redirecionando para login.");
                NavManager.NavigateTo("login");
            }
        }

        _timer = new Timer(async (_) =>
        {
            _currentTime = DateTime.Now;
            await InvokeAsync(StateHasChanged);
        }, null, TimeSpan.Zero, TimeSpan.FromSeconds(1));
    }

    public void Dispose()
    { 
        _timer?.Dispose();
    }
}
